<!--
    Team: Step 3
    Authors: Paul Woods, Stewart Lovell, and Jasmine David
    SDEV 328: Final Project v1
    File: about.html

    Description: Globo Gym Website About Us page.
-->

<include href="views/header.html" with="title='Globo Gym', two='current'"></include>
<!-- change 'one' above to 'two', etc. for different pages -->

<!--- About Us text -->
<div class="container my-5 w-50">
    <div class="row">
        <h1 class="text-center mb-5 col-12"><b>About Us</b></h1>
    </div>
    <div class="row">
        <p class="text-center col-12">Globo Gym is a beacon of human physical prowess and perfection,
            a shining example of human physical fitness with several million
            in capital and multiple locations. It's run by White Goodman,
            who's not just the founder of Globo Gym, but the first customer and
            creator of the lifestyle.</p>
    </div>
</div>
<!--- About Us images -->
<div class="container w-75 mt-3 mb-5">
    <div class="row">
        <img src="images/about1.jpg" class="col-6" alt="White Goodman">
        <img src="images/about2.jpeg" class="col-6" alt="White Goodman">
    </div>
</div>

<!-- footer -->
<include href="views/footer.html"></include>

</body>
</html>