<!--
    Team: Step 3
    Authors: Paul Woods, Stewart Lovell, and Jasmine David
    SDEV 328: Final Project v1
    File: account.html

    Description: User account page
-->


<include href="views/header.html" with="title='Account'"></include>
<!-- change 'one' above to 'two', etc. for different pages -->
<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-12 col-md-4 mx-auto">
            <!--
            User's name
            password edit

            -->
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-12 col-md-4 mx-auto">
            <label class="control-label text-center me-4 mt-2 fw-bold" for="username">Password</label>
            <input type="password" class="form-control" name="username" id="password">
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-4 mx-auto mt-3">
            <button class="btn btn-primary" type="submit">Login</button>
        </div>
    </div>
</div>

<!-- footer -->
<include href="views/footer.html"></include>

</body>
</html>