<exclude><!--
    Team: Step 3
    Authors: Paul Woods, Stewart Lovell, and Jasmine David
    SDEV 328: Final Project v1
    File: account.html

    Note: All session info / stored in user object 'member_info'

    Description: User account page - displays admin or member account information. Allows user
    to change password or membership level.
--></exclude>

<include href="views/header_account.html" with="title='Account'"></include>

<div class="container-fluid mt-5 mb-5">
    <div class="row text-center">
        <!-- User: First and Last Name -->
        <h1><b>{{ @SESSION['member_info']->getFName() }} {{ @SESSION['member_info']->getLName() }}</b></h1>
    </div>

    <!-- Member Join Date -->
    <div class="row">
        <div class="col-12 col-md-4 mx-auto text-center">
            <h4 class="account-details text-secondary">Member Since {{ @SESSION['member_info']->getJoinDate()}}</h4>
        </div>
    </div>

    <!-- Membership Level -->
    <div class="row">
        <div class="col-12 col-md-4 mx-auto text-center">
            <h4 class="account-details text-secondary">
                <check if="{{ method_exists(@SESSION['member_info'], 'getAdminID') }}"><exclude><!-- IS AN ADMIN --></exclude>
                    <true>Administrator Account</true>
                    <false>
                        <check if="{{ method_exists(@SESSION['member_info'], 'getMembershipLevelName') &&  @SESSION['member_info']->getMembershipLevelName() != null }}">
                            <true>{{ @SESSION['member_info']->getMembershipLevelName() }} Level</true>
                            <false>Not currently a Paying Member</false>
                        </check>
                    </false>
                </check>
            </h4>
        </div>
    </div>
    <!-- Check In Button -->
    <div class="row">
        <div class="col-12 col-md-4 mx-auto mt-2 text-center">
            <button class="account-buttons btn btn-primary">Check-In</button>
        </div>
    </div>

    <div class="account container-fluid w-75 mt-5">
        <!-- Member Profile Info -->
        <div class="row">
            <div class="col-6 col-md-6 px-md-5 mx-auto">
                <h4 class="profile-header mb-3 text-center">Profile</h4>
                <div class="row mb-3">
                    <!-- Member Username -->
                    <p class="account">USERNAME</p>
                    <p class="account text-secondary">{{ @SESSION['member_info']->getUName() }}</p>
                </div>
                <div class="row">
                    <!-- Member Password -->
                    <p class="account">PASSWORD</p>
                    <p class="change" data-bs-toggle="collapse" data-bs-target="#change_password"><u>(edit)</u></p>
                    <!-- collapsible for CHANGE password -->
                    <div id="change_password" class="collapse px-0 mb-3">
                        <form id="passwordForm" name="passwordForm" method="post">
                            <label for=“current_password”><b>Current Password</b></label><br>
                            <input class="mt-1 mb-2" type="password" name=“current_password” id=“current_password”><br>
                            <label for=“new_password”><b>New Password</b></label><br>
                            <input class="mt-1 mb-2" type="password" name=“new_password” id=“new_password”><br>
                            <label for=“new_password_confirm”><b>Confirm New Password</b></label><br>
                            <input class="mt-1 mb-2" type="password" name=“new_password_confirm” id=“new_password_confirm”><br>
                            <button id="submitPassword" class="account-buttons btn btn-primary mt-1" type="submit">Change</button>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <!-- Member Email -->
                    <p class="account">EMAIL</p>
                    <p class="text-secondary">{{ @SESSION['member_info']->getEmail() }}</p>
                </div>
                <div class="row">
                    <!-- Member Phone -->
                    <p class="account">PHONE</p>
                    <p class="text-secondary">{{ @SESSION['member_info']->getPhone() }}</p>
                </div>
            </div>

            <!--vertical line-->
            <div class="d-flex col-0 col-md-1 text-center h-auto">
                <div class="vr"></div>
            </div>

            <!-- Membership Details -->
            <div class="col-6 col-md-5 mx-auto">
                <hr class="hr w-100">
                <h4 class="profile-header mb-3 text-center">Account Details</h4>
                <div class="row">
                    <p class="change" data-bs-toggle="collapse" data-bs-target="#change_plan"><u>Change Membership Plan</u></p>
                    <!-- collapsible for CHANGE membership plan -->
                    <div id="change_plan" class="collapse mb-3">
                        <form name="membershipForm" id="membershipForm" action="#" method="post">
                            <input type="radio" name="membership_level" id="bronze" value="1">
                            <label for="bronze">Bronze</label><br>
                            <input type="radio" name="membership_level" id="silver" value="2">
                            <label for="silver">Silver</label><br>
                            <input type="radio" name="membership_level" id="gold" value="3">
                            <label for="gold">Gold</label><br>
                            <button class="account-buttons btn btn-primary" type="submit">Change</button>
                        </form>
                    </div>
                </div>

                <check if="{{ (method_exists(@SESSION['member_info'], 'getMembershipLevel')) && (@SESSION['member_info']->getMembershipLevel() > 0) }} ">
                    <div class="row">
                        <p>Your payment is <check if="{{ @SESSION['member_info']->getMembershipPayPeriod() == 0 }} ">
                            <true>${{ @SESSION['member_info']->getMembershipPriceMonth() }} per month</true>
                            <false>${{ @SESSION['member_info']->getMembershipPriceYear() }} per year</false></check></p>
                    </div>
                    <div class="row">
                        <!-- Member Balance -->
                        <p>Your Balance is: <u>${{ @SESSION['member_info']->getBalance() }}</u></p>
                    </div>
                </check>
            </div>
        </div>
    </div>
</div>

<!-- footer -->
<include href="views/footer.html"></include>


<script src="//code.jquery.com/jquery.js"></script>
<script>

    console.log("test");

    // http://ZiptasticAPI.com/ZIPCODE, returns json object w/ country, state, city values

    // with jquery

    $("#passwordForm").on("submit", function(e) {

        e.preventDefault(e);        // prevent page from re-loading

        let url = "https://paulwoods.greenriverdev.com/328/globo_gym/change_password";
        //let currentPass = $("#current_password").val();
        let currentPass = $('input[id=“current_password”]').val();
        let newPass = $("input[id=“new_password”]").val();
        let newPassConfirm = $("input[id=“new_password_confirm”]").val();

        const obj = {current_password: currentPass, new_password: newPass, new_password_confirm: newPassConfirm};
        //const json = JSON.stringify(obj);

        //console.log("obj: " + obj);
        //console.log("json: " + json);

        $.post(url, obj, function(result) {
            console.log("result: " + result);
            console.log('results logged');
            //console.log(result);
            //console.log(result['city']);
        });
    });








</script>

</body>
</html>