<!--
    Team: Step 3
    Authors: Paul Woods, Stewart Lovell, and Jasmine David
    SDEV 328: Final Project
    File: admin_member.html

    Description: Admin Members page - displays gym members table and admin is able to add or suspend
    members
-->

<include href="views/header.html" with="title='Admin - Members'"></include>
<exclude>
    <!--
           NOTES:
           * ADD/SUSPEND feature will be a button/link that updates the members status in the database

           @ PAUL AND STEWART ----------
           * Issues with the Members Table:
            - The Membership Level displays a number (not Bronze, Silver, Gold)
            - The Status of all members is currently hardcoded as Active
            - Member visits are blank (which is because we don’t have a Visits column in the members table)
            - The Add/Suspend action doesn’t work - we need to add functions for this
    -->
</exclude>

<div class="container my-5 w-50">
    <!--- Admin Members -->
    <div class="row">
        <h1 class="text-center mb-5 col-12"><b>Admin <br>Members</b></h1>
    </div>
</div>

<div class="container mb-5 px-2 px-md-5">
    <div class="row mx-5">
        <!-- Admin Menu - position-fixed, scrolls with page / looks messed up on mobile due to this? -->
        <div class="col-12 col-md-2 mb-4 mx-auto">
            <div class="row position-md-fixed rounded-2 shadow p-4 text-center border border-light rounded-5">
                <div class="menu h-100">
                    <h5>Menu</h5>
                    <hr class="my-2">
                    <h6><a href="admin_dashboard" class="no_underline p-2">Dashboard</a></h6>
                    <h6><a href="admin_members" class="active no_underline p-2">Members </a></h6>
                </div>
            </div>
        </div>

        <!-- Admin Members Table -->
        <div class="col-12 col-md-10 px-0 px-md-5">
            <div class="row">
                <table class="table table-secondary shadow table-bordered table-striped text-center">
                    <thead>
                    <tr>
                        <!-- TODO: @jasmine - make members sortable -->
                        <th>ID #</th>
                        <th scope="col">Member Name</th>
                        <th scope="col">Status</th>
                        <th scope="col">Level</th>

                        <th scope="col">Join Date</th>
                        <th scope="col">Balance</th>
                        <th scope="col">Visits</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody class="align-middle">
                    <repeat group="{{ @members }}" value="{{ @member }}">
                        <tr>
                            <td>{{ @member['member_id'] }}</td>
                            <td>{{ @member['first_name'] }} {{ @member['last_name'] }}</td>
                            <!-- TODO: @paul/stewart - all members are currently hardcoded as active... need to change this?-->
                            <td>Active</td>
                            <!-- TODO: @paul/stewart - membership level displays numbers - need to fix this-->
                            <td>{{ @member['membership_level'] }}</td>
                            <td>{{ @member['join_date'] }}</td>
                            <td>{{ @member['balance'] }}</td>
                            <!-- TODO: @paul/stewart - visits are currently blank -->
                            <td>{{ @member['visits'] }}</td>
                            <!-- TODO: @paul/stewart - add/suspend members doesn't work bc we don't have functions for this -->
                            <td>
                                <u><a href="#">Add</a></u> <br>
                                <u><a href="#">Suspend</a></u>
                            </td>
                        </tr>
                    </repeat>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>




<!-- footer -->
<include href="views/footer.html"></include>


</body>
</html>