<!--
    Team: Step 3
    Authors: Paul Woods, Stewart Lovell, and Jasmine David
    SDEV 328: Final Project
    File: admin_dashboard.html

    Description: Admin Dashboard page - displays Globo Gym statistics and interactive chart
-->

<include href="views/header.html" with="title='Admin - Dashboard'"></include>

<!---
       NOTES:
       * not sure what other stats to feature on Admin Dashboard Stats??? - stats are hardcoded in, need to change to actual
         database stats later
       * admin menu looks messed up on mobile because of fixed position - not sure how to fix this...
       * the charts need actual data from the database - added a "to-do" in the places where we need to insert
         the data for the charts
       * script for the chart is currently inline (will put code in separate file when we're done testing)
--->

<div class="container my-5 w-50">
    <!--- Admin Dashboard -->
    <div class="row">
        <h1 class="text-center mb-5 col-12"><b>Admin <br>Dashboard</b></h1>
    </div>
</div>

<div class="container mb-5 px-2 px-md-5">
    <div class="row mx-5">
        <!-- Admin Menu -->
        <div class="col-12 col-md-2 mb-4 mx-auto">
            <div class="row position-md-fixed rounded-2 shadow p-4 text-center border border-light rounded-5">
                <div class="menu h-100">
                    <h5>Menu</h5>
                    <hr class="my-2">
                    <h6><a href="admin_dashboard" class="active no_underline p-2">Dashboard</a></h6>
                    <h6><a href="admin_members" class="no_underline p-2">Members</a></h6>
                </div>
            </div>
        </div>

        <!-- Admin Dashboard Stats -->
        <div class="col-12 col-md-10 px-0 px-md-5">
            <div class="row text-center pt-3 p-md-3 shadow rounded-2 border-secondary">
                <div class="col-md-4 col-12 px-3">
                    <h5><b>Total Members</b></h5>
                    <p>{{ $GLOBALS['dataLayer']->getTotalMembers() }}</p>
                </div>
                <div class="col-md-4 col-12 px-3">
                    <h5><b>Monthly Expected Revenue</b></h5>
                    <p>{{ $GLOBALS['dataLayer']->getRevenue() }}</p>
                </div>
                <div class="col-md-4 col-12 px-3">
                    <h5><b>Total Visits</b></h5>
                    <p> {{ $GLOBALS['dataLayer']->getTotalVisits() }}</p>
                </div>
            </div>

            <!-- Admin Dashboard Chart -->
            <div class="row mt-3">
                <div class="col-12 text-center p-3 rounded-2 shadow border-secondary">
                    <!-- google chart script -->
                    <script src="https://www.gstatic.com/charts/loader.js"></script>
                    <div class="col-12 my-3">
                        <!-- admin dashboard chart buttons - toggles through diff charts-->
                        <input class="admin-buttons btn btn-primary my-1 my-md-0" type='button' id='b1' value='Members' />
                        <input class="admin-buttons btn btn-primary my-1 my-md-0 mx-auto" type='button' id='b4' value='New Members' />
                        <input class="admin-buttons btn btn-primary my-1 my-md-0" type='button' id='b2' value='Visits' />
                        <input class="admin-buttons btn btn-primary my-1 my-md-0" type='button' id='b3' value='Revenue' />
                    </div>
                    <!-- admin dashboard chart -->
                    <div class="img-responsive mx-auto" id="globogym_chart"></div>

                </div>
            </div>
        </div>
    </div>
</div>


<!-- footer -->
<include href="views/footer.html"></include>
<!-- script -->
<script src="scripts/script.js"></script>
<h1>{{ $GLOBALS['dataLayer']->getMembersMonth(3) }}</h1>
<script>
<exclude>
    // chart data -- TODO: need to add database monthly TOTAL MEMBERS data here (put database data in the number, not the month)
    var totalMembersData = google.visualization.arrayToDataTable([
        ['Month', 'Members'],
        ['Mar',{{ $GLOBALS['dataLayer']->getMembersMonth(3) }}],
        ['Apr',{{ $GLOBALS['dataLayer']->getMembersMonth(4) }}],
        ['May',{{ $GLOBALS['dataLayer']->getMembersMonth(5) }}],
        ['Jun',{{ $GLOBALS['dataLayer']->getMembersMonth(6) }}],
        ['Jul',{{ $GLOBALS['dataLayer']->getMembersMonth(7) }}],
        ['Aug',{{ $GLOBALS['dataLayer']->getMembersMonth(8) }}],
        ['Sept',{{ $GLOBALS['dataLayer']->getMembersMonth(9) }}],
        ['Oct',{{ $GLOBALS['dataLayer']->getMembersMonth(10) }}],
        ['Nov',{{ $GLOBALS['dataLayer']->getMembersMonth(11) }}],
        ['Dec',{{ $GLOBALS['dataLayer']->getMembersMonth(12) }}],
        ['Jan',{{ $GLOBALS['dataLayer']->getMembersMonth(1) }}],
        ['Feb',{{ $GLOBALS['dataLayer']->getMembersMonth(2) }}]
    ]);

    var date = new Date();
    let month = date.getMonth()+1;

    var newMembersMonth = google.visualization.arrayToDataTable([
        ['Current Month', 'Members'],
        [month,{{ $GLOBALS['dataLayer']->getAccountsCreatedMonth(month) }}]
    ]);
</exclude>
</script>

</body>
</html>
