<!--
    Team: Step 3
    Authors: Paul Woods, Stewart Lovell, and Jasmine David
    SDEV 328: Final Project
    File: admin_dashboard.html

    Description: Admin Dashboard page - displays Globo Gym statistics and interactive chart
-->

<include href="views/header.html" with="title='Admin - Dashboard'"></include>

<div class="container my-5 w-50">
    <!--- Admin Dashboard -->
    <div class="row">
        <h1 class="text-center mb-5 col-12"><b>Admin <br>Dashboard</b></h1>
    </div>
</div>

<div class="container mb-5 px-2 px-md-5">
    <div class="row mx-5">
        <!-- Admin Menu -->
        <div class="col-12 col-md-2 mb-4 mx-auto">
            <div class="row position-md-fixed rounded-2 shadow p-4 text-center border border-light rounded-5">
                <div class="menu h-100">
                    <h5>Menu</h5>
                    <hr class="my-2">
                    <h6><a href="admin_dashboard" class="active no_underline p-2">Dashboard</a></h6>
                    <h6><a href="admin_members" class="no_underline p-2">Members</a></h6>
                </div>
            </div>
        </div>

        <!-- Admin Dashboard Stats -->
        <div class="col-12 col-md-10 px-0 px-md-5">
            <div class="row text-center pt-3 p-md-3 shadow rounded-2 border-secondary">
                <div class="col-md-4 col-12 px-3">
                    <h5><b>Total Members</b></h5>
                    <p>{{ $GLOBALS['dataLayer']->getTotalMembers() }}</p>
                </div>
                <div class="col-md-4 col-12 px-3">
                    <h5><b>Monthly Expected Revenue</b></h5>
                    <p>{{ $GLOBALS['dataLayer']->getRevenue() }}</p>
                </div>
                <div class="col-md-4 col-12 px-3">
                    <h5><b>Total Visits</b></h5>
                    <p> {{ $GLOBALS['dataLayer']->getTotalVisits() }}</p>
                </div>
            </div>

            <!-- Admin Dashboard Chart -->
            <div class="row mt-3">
                <div class="col-12 text-center p-3 rounded-2 shadow border-secondary">
                    <!-- google chart script -->
                    <exclude><script src="https://www.gstatic.com/charts/loader.js"></script></exclude>
                    <div class="col-12 my-3">
                        <!-- admin dashboard chart buttons - toggles through diff charts-->
                        <exclude><input class="admin-buttons btn btn-primary my-1 my-md-0" type='button' id='b1' value='Members' /></exclude>
                        <input class="admin-buttons btn btn-primary my-1 my-md-0 mx-auto" type='button' id='b4' value='New Members' />
                        <input class="admin-buttons btn btn-primary my-1 my-md-0" type='button' id='b2' value='Visits' />
                        <exclude><input class="admin-buttons btn btn-primary my-1 my-md-0" type='button' id='b3' value='Revenue' /></exclude>
                    </div>
                    <!-- admin dashboard chart -->
                    <div class="img-responsive mx-auto" id="globogym_chart"></div>

                </div>
            </div>
        </div>
    </div>
</div>


<!-- footer -->
<include href="views/footer.html"></include>
<!-- script -->
<script src="https://www.gstatic.com/charts/loader.js"></script>
<script src="scripts/script.js"></script>
<exclude><h1>hello {{ $GLOBALS['dataLayer']->getAccountsCreatedMonth(3) }}</h1></exclude>
<script>
    // chart data
    <exclude>
    let newMembersYear = google.visualization.arrayToDataTable([
        ['Month', 'Members'],
        ['Apr', {{ $GLOBALS['dataLayer']->getAccountsCreatedMonth(4) }}],
        ['May', {{ $GLOBALS['dataLayer']->getAccountsCreatedMonth(5) }}],
        ['Jun', {{ $GLOBALS['dataLayer']->getAccountsCreatedMonth(6) }}],
        ['Jul', {{ $GLOBALS['dataLayer']->getAccountsCreatedMonth(7) }}],
        ['Aug', {{ $GLOBALS['dataLayer']->getAccountsCreatedMonth(8) }}],
        ['Sept', {{ $GLOBALS['dataLayer']->getAccountsCreatedMonth(9) }}],
        ['Oct', {{ $GLOBALS['dataLayer']->getAccountsCreatedMonth(10) }}],
        ['Nov', {{ $GLOBALS['dataLayer']->getAccountsCreatedMonth(11) }}],
        ['Dec', {{ $GLOBALS['dataLayer']->getAccountsCreatedMonth(12) }}],
        ['Jan', {{ $GLOBALS['dataLayer']->getAccountsCreatedMonth(1) }}],
        ['Feb', {{ $GLOBALS['dataLayer']->getAccountsCreatedMonth(2) }}],
        ['Mar', {{ $GLOBALS['dataLayer']->getAccountsCreatedMonth(3) }}]
    ]);

    let newMembersMonth = google.visualization.arrayToDataTable([
        ['Current Month', 'Members'],
        ['Apr', {{ $GLOBALS['dataLayer']->getAccountsCreatedMonth(4) }}],
        ['May', {{ $GLOBALS['dataLayer']->getAccountsCreatedMonth(5) }}],
        ['Jun', {{ $GLOBALS['dataLayer']->getAccountsCreatedMonth(6) }}],
        ['Jul', {{ $GLOBALS['dataLayer']->getAccountsCreatedMonth(7) }}],
        ['Aug', {{ $GLOBALS['dataLayer']->getAccountsCreatedMonth(8) }}],
        ['Sept', {{ $GLOBALS['dataLayer']->getAccountsCreatedMonth(9) }}],
        ['Oct', {{ $GLOBALS['dataLayer']->getAccountsCreatedMonth(10) }}],
        ['Nov', {{ $GLOBALS['dataLayer']->getAccountsCreatedMonth(11) }}],
        ['Dec', {{ $GLOBALS['dataLayer']->getAccountsCreatedMonth(12) }}],
        ['Jan', {{ $GLOBALS['dataLayer']->getAccountsCreatedMonth(1) }}],
        ['Feb', {{ $GLOBALS['dataLayer']->getAccountsCreatedMonth(2) }}],
        ['Mar', {{ $GLOBALS['dataLayer']->getAccountsCreatedMonth(3) }}]
    ]);


    </exclude>
    /* Admin Dashboard Script */
    google.charts.load('current', {
        packages: ['corechart']
    }).then(function() {
        //var memberButton = document.getElementById('b1');
        var visitButton = document.getElementById('b2');
        //var revenueButton = document.getElementById('b3');
        var newMemberButton = document.getElementById('b4');


        // switch to total members chart when clicked
        // memberButton.onclick = function() {
        //     drawMemberChart('LineChart');
        // }

        // switch to total new members chart when clicked
        newMemberButton.onclick = function() {
            drawNewMemberChart('ColumnChart');
        }

        // switch to total visits chart when clicked
        visitButton.onclick = function() {
            drawVisitsChart('LineChart');
        }

        // switch to total revenue chart when clicked
        // revenueButton.onclick = function() {
        //     drawRevenueChart('LineChart');
        // }

        // default/active chart
        drawNewMemberChart('ColumnChart');
    });

    // code for member chart
    /*
    function drawMemberChart(chartType) {
        var chart = new google.visualization.ChartWrapper({
            containerId: 'globogym_chart'
        });

        // chart data
        //var data = newMembersMonth;
        var data = google.visualization.arrayToDataTable([
            ['Month', 'Members'],
            ['Apr', {{ $GLOBALS['dataLayer']->getAccountsCreatedMonth(4) }}],
            ['May', {{ $GLOBALS['dataLayer']->getAccountsCreatedMonth(5) }}],
            ['Jun', {{ $GLOBALS['dataLayer']->getAccountsCreatedMonth(6) }}],
            ['Jul', {{ $GLOBALS['dataLayer']->getAccountsCreatedMonth(7) }}],
            ['Aug', {{ $GLOBALS['dataLayer']->getAccountsCreatedMonth(8) }}],
            ['Sept', {{ $GLOBALS['dataLayer']->getAccountsCreatedMonth(9) }}],
            ['Oct', {{ $GLOBALS['dataLayer']->getAccountsCreatedMonth(10) }}],
            ['Nov', {{ $GLOBALS['dataLayer']->getAccountsCreatedMonth(11) }}],
            ['Dec', {{ $GLOBALS['dataLayer']->getAccountsCreatedMonth(12) }}],
            ['Jan', {{ $GLOBALS['dataLayer']->getAccountsCreatedMonth(1) }}],
            ['Feb', {{ $GLOBALS['dataLayer']->getAccountsCreatedMonth(2) }}],
            ['Mar', {{ $GLOBALS['dataLayer']->getAccountsCreatedMonth(3) }}]
        ]);

        // chart title/headers and styling
        var options = {
            // title
            title: 'Total Members (last 12 months)',
            titleTextStyle: {
                fontName: 'Arial',
                fontSize: 20,
                bold: true,
                italic: false,
            },
            // x axis
            hAxis: {
                title: 'Month',
                titleTextStyle: {
                    italic: false,
                },
                direction:1,
                slantedText: true,
                slantedTextAngle:50,
            },
            // y axis
            vAxis: {
                title: 'Members',
                titleTextStyle: {
                    italic: false,
                },
            },
            // line
            series: {
                0: {
                    color: '#663399',
                },
            },
            legend: 'none',
        };
        chart.setOptions(options);
        chart.setChartType(chartType);
        chart.setDataTable(data);
        chart.draw();

        window.addEventListener('resize', function() {
            chart.draw()
        }, false);
    }
*/
    // code for new members chart
    function drawNewMemberChart(chartType) {
        var chart = new google.visualization.ChartWrapper({
            containerId: 'globogym_chart'
        });

        // chart data
        //var data = newMembersYear;
        var data = google.visualization.arrayToDataTable([
            ['Month', 'Members'],
            ['Apr', {{ $GLOBALS['dataLayer']->getAccountsCreatedMonth(4) }}],
            ['May', {{ $GLOBALS['dataLayer']->getAccountsCreatedMonth(5) }}],
            ['Jun', {{ $GLOBALS['dataLayer']->getAccountsCreatedMonth(6) }}],
            ['Jul', {{ $GLOBALS['dataLayer']->getAccountsCreatedMonth(7) }}],
            ['Aug', {{ $GLOBALS['dataLayer']->getAccountsCreatedMonth(8) }}],
            ['Sept', {{ $GLOBALS['dataLayer']->getAccountsCreatedMonth(9) }}],
            ['Oct', {{ $GLOBALS['dataLayer']->getAccountsCreatedMonth(10) }}],
            ['Nov', {{ $GLOBALS['dataLayer']->getAccountsCreatedMonth(11) }}],
            ['Dec', {{ $GLOBALS['dataLayer']->getAccountsCreatedMonth(12) }}],
            ['Jan', {{ $GLOBALS['dataLayer']->getAccountsCreatedMonth(1) }}],
            ['Feb', {{ $GLOBALS['dataLayer']->getAccountsCreatedMonth(2) }}],
            ['Mar', {{ $GLOBALS['dataLayer']->getAccountsCreatedMonth(3) }}]
        ]);

        // chart title/headers and styling
        var options = {
            // title
            title: 'Total New Members (last 12 months)',
            titleTextStyle: {
                fontName: 'Arial',
                fontSize: 20,
                bold: true,
                italic: false,
            },
            // x axis
            hAxis: {
                title: 'Month',
                titleTextStyle: {
                    italic: false,
                },
                direction:1,
                slantedText:true,
                slantedTextAngle:50,
            },
            // y axis
            vAxis: {
                title: 'New Members',
                titleTextStyle: {
                    italic: false,
                },
            },
            // line
            series: {
                0: {
                    color: '#663399',
                },
            },
            legend: 'none',
        };
        chart.setOptions(options);
        chart.setChartType(chartType);
        chart.setDataTable(data);
        chart.draw();

        window.addEventListener('resize', function() {
            chart.draw()
        }, false);
    }

    // code for visits chart
    function drawVisitsChart(chartType) {
        var chart = new google.visualization.ChartWrapper({
            containerId: 'globogym_chart'
        });

        // chart data
        var data = google.visualization.arrayToDataTable([
            ['Month', 'Visits'],
            ['Apr', {{ $GLOBALS['dataLayer']->getVisitsMonth(4) }}],
            ['May', {{ $GLOBALS['dataLayer']->getVisitsMonth(5) }}],
            ['Jun', {{ $GLOBALS['dataLayer']->getVisitsMonth(6) }}],
            ['Jul', {{ $GLOBALS['dataLayer']->getVisitsMonth(7) }}],
            ['Aug', {{ $GLOBALS['dataLayer']->getVisitsMonth(8) }}],
            ['Sept', {{ $GLOBALS['dataLayer']->getVisitsMonth(9) }}],
            ['Oct', {{ $GLOBALS['dataLayer']->getVisitsMonth(10) }}],
            ['Nov', {{ $GLOBALS['dataLayer']->getVisitsMonth(11) }}],
            ['Dec', {{ $GLOBALS['dataLayer']->getVisitsMonth(12) }}],
            ['Jan', {{ $GLOBALS['dataLayer']->getVisitsMonth(1) }}],
            ['Feb', {{ $GLOBALS['dataLayer']->getVisitsMonth(2) }}],
            ['Mar', {{ $GLOBALS['dataLayer']->getVisitsMonth(3) }}]
        ]);

        // chart title/headers and styling
        var options = {
            // title
            title: 'Total Visits (last 12 months)',
            titleTextStyle: {
                fontName: 'Arial',
                fontSize: 20,
                bold: true,
                italic: false,
            },
            // x axis
            hAxis: {
                title: 'Month',
                titleTextStyle: {
                    italic: false,
                },
                direction:1,
                slantedText:true,
                slantedTextAngle:50,
            },
            // y axis
            vAxis: {
                title: 'Visits',
                titleTextStyle: {
                    italic: false,
                },
            },
            // line
            series: {
                0: {
                    color: '#663399',
                },
            },
            legend: 'none',
        };
        chart.setOptions(options);
        chart.setChartType(chartType);
        chart.setDataTable(data);
        chart.draw();

        window.addEventListener('resize', function() {
            chart.draw()
        }, false);
    }

    // code for revenue chart
    /*
    function drawRevenueChart(chartType) {
        var chart = new google.visualization.ChartWrapper({
            containerId: 'globogym_chart'
        });

        // chart data -- TODO: need to add database monthly TOTAL REVENUE data here (put database data in the number, not the month)
        var data = google.visualization.arrayToDataTable([
            ['Month', 'Revenue'],
            ['Mar',4],['Apr',5],['May',7],['Jun',7],['Jul',7],
            ['Aug',6],['Sept',8],['Oct',8],
            ['Nov',9],['Dec',10],['Jan',11],['Feb',12]
        ]);

        // chart title/headers and styling
        var options = {
            // title
            title: 'Total Revenue (last 12 months)',
            titleTextStyle: {
                fontName: 'Arial',
                fontSize: 20,
                bold: true,
                italic: false,
            },
            // x axis
            hAxis: {
                title: 'Month',
                titleTextStyle: {
                    italic: false,
                },
                direction:1,
                slantedText:true,
                slantedTextAngle:50,
            },
            // y axis
            vAxis: {
                title: 'Revenue',
                titleTextStyle: {
                    italic: false,
                },
            },
            // line
            series: {
                0: {
                    color: '#663399',
                },
            },
            legend: 'none',
        };
        chart.setOptions(options);
        chart.setChartType(chartType);
        chart.setDataTable(data);
        chart.draw();

        window.addEventListener('resize', function() {
            chart.draw()
        }, false);
    }

     */
</script>

</body>
</html>
