<!--
    Team: Step 3
    Authors: Paul Woods, Stewart Lovell, and Jasmine David
    SDEV 328: Final Project
    File: admin_member.html

    Description: Admin Members page - displays gym members table and admin is able to add or suspend
    members
-->

<include href="views/header.html" with="title='Admin - Members'"></include>

<div class="container my-5 w-50">
    <!--- Admin Members -->
    <div class="row">
        <h1 class="text-center mb-5 col-12"><b>Admin <br>Members</b></h1>
    </div>
</div>

<div class="container mb-5 px-2 px-md-5">
    <div class="row mx-5">
        <!-- Admin Menu -->
        <div class="col-12 col-md-2 mb-4 mx-auto">
            <div class="row position-md-fixed rounded-2 shadow p-4 text-center border border-light rounded-5">
                <div class="menu h-100">
                    <h5>Menu</h5>
                    <hr class="my-2">
                    <h6><a href="admin_dashboard" class="no_underline p-2">Dashboard</a></h6>
                    <h6><a href="admin_members" class="active no_underline p-2">Members </a></h6>
                </div>
            </div>
        </div>

        <!-- Admin Members Table -->
        <div class="col-12 col-md-10 px-0 px-md-5">
            <div class="row">
                <table class="table table-secondary shadow table-bordered table-striped text-center">
                    <thead>
                    <tr>
                        <th>ID #</th>
                        <th scope="col">Member Name</th>
                        <th scope="col">Status</th>
                        <th scope="col">Level</th>
                        <th scope="col">Join Date</th>
                        <th scope="col">Balance</th>
                        <th scope="col">Visits</th>
                        <!--<th scope="col">Action</th> This is a feature we prototyped but did not complete -->
                    </tr>
                    </thead>
                    <tbody class="align-middle">
                    <repeat group="{{ @members }}" value="{{ @member }}">
                        <tr>
                            <!-- Member ID #-->
                            <td>{{ @member['member_id'] }}</td>
                            <!-- Member Name -->
                            <td>{{ @member['first_name'] }} {{ @member['last_name'] }}</td>
                            <!-- Membership Status -->
                            <td><check if="{{ @member['membership_level'] > 0 }}">
                                <true>Active</true>
                                <false><i>Inactive</i></false>
                            </check>
                            </td>
                            <!-- Membership Level -->
                            <check if="{{ @member['membership_level']=='1' }}">
                                <true>
                                    <td>Bronze</td>
                                </true>
                            </check>
                            <check if="{{ @member['membership_level']=='2' }}">
                                <true>
                                    <td>Silver</td>
                                </true>
                            </check>
                            <check if="{{ @member['membership_level']=='3' }}">
                                <true>
                                    <td>Gold</td>
                                </true>
                            </check>
                            <check if="{{ @member['membership_level']=='-1' }}">
                                <true>
                                    <td></td>
                                </true>
                            </check>
                            <!-- Member join date -->
                            <td>{{ @member['join_date'] }}</td>
                            <!-- Member balance -->
                            <td>{{ @member['balance'] }}</td>
                            <!-- Member visits -->
                            <td>{{ @member['visits'] }}</td>
                            <!-- Add/Suspend member feature -->
                            <!-- Two ideas, either suspends just deletes that person's information
                                 from the database (probably not great to go this route),
                                 or we change their account from a member back into a user, "suspending"
                                 their membership (updates their account in the database, changing their
                                 membership_level back to 0)

                                 Add would be for if the admin ever needs to manually
                                 give an account membership they can (promotion etc in the case of a real gym)
                                 admin clicks on "add", the three membership levels pop up,
                                 they pick one and that user account becomes a member account with that specific
                                 membership tied to it.
                                 we will need a way to grab that account's information from the table
                                 and use it to run the update query on their account.
                                 (function that grabs {{ @member['member_id'] }} when add/suspend are clicked?)
                                 ^ will this work with each table row having the "same" add/suspend buttons?
                                 -->

                            <exclude><!-- This was prototyped but not completed -->
                            <td>
                                <u><a href="#">Add</a></u> <br>
                                <u><a href="#">Suspend</a></u>
                            </td>
                            </exclude>
                        </tr>
                    </repeat>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>




<!-- footer -->
<include href="views/footer.html"></include>


</body>
</html>