<!--
    Team: Step 3
    Authors: Paul Woods, Stewart Lovell, and Jasmine David
    SDEV 328: Final Project v1
    File: footer.html

    Description: Footer for Globo Gym Website
-->


<!-- Globo Gym Footer -->
<footer class="footer mt-5 ">
    <div class="container text-center pt-4">
        <div class="row">
            <div class="col-md-12 mx-auto mb-3">
                <h5 class="text-uppercase font-weight-bold">Globo Gym</h5>
                <p>© 2023 Green River College</p>
                <!--- Social Media icon/links (dummy links) --->
                <a href="#"><img src="images/facebook.png" width="30" height="30" alt="FaceBook logo">
                </a>
                <a href="#"><img src="images/instagram.png" width="30" height="30" alt="Instagram logo">
                </a>
                <a href="#"><img src="images/twitter.png" width="30" height="30" alt="Twitter logo">
                </a>
                <a href="#"><img src="images/youtube.png" width="30" height="30" alt="Youtube logo">
                </a>
        </div>
        </div>
    </div>
</footer>