<!--
    Team: Step 3
    Authors: Paul Woods, Stewart Lovell, and Jasmine David
    SDEV 328: Final Project v1
    File: home.html

    Description: Globo Gym Website Home page that describes gym amenities.
-->


<include href="views/header.html" with="title='Globo Gym', one='current'"></include>
<!-- change 'one' above to 'two', etc. for different pages -->

    <!-- Image Overlay, tagline, and Join Now Button -->
    <div id="overlay">
        <img src="images/home.jpg" class="img-fluid" alt="White Goodman and client" >
        <p class="text-center h1">We're better than you <br>
            And we know it!</p>
        <a class="btn  rounded-pill btn-lg" href="memberships">JOIN NOW</a>
    </div>
    <!-- Globo Gym features -->
    <p class="container text-center w-50 my-4">
        Our gyms are equipped with state of the art, cutting edge gym equipment.
        Members have access to unrivaled group fitness classes, spa facilities, seminars, and personal training.
        We also employ highly-trained, quasi-cultural staff of personal alteration specialists that provide
        competitively-priced on-site cosmetic surgery. <br><br>
        Come join Globo Gym today - where our luxury amenities will keep you feeling and looking your best!
    </p>
<div class="container text-center mt-3 mb-5">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/txVsaLeYh1Q?start=14" allowfullscreen></iframe>
</div>


    <!-- footer -->
<include href="views/footer.html"></include>

</body>
</html>