<!--
    Team: Step 3
    Authors: Paul Woods, Stewart Lovell, and Jasmine David
    SDEV 328: Final Project v1
    File: join.html

    Description: Page for the user to start the membership process
-->


<include href="views/header.html" with="title='Join - Globo Gym', four='current'"></include>
<!--
Jasmine, these are our ideas for the join page, you can leave any non design work for us
-->

<!--- container for Join membership header and membership selection  --->
<div class="container-fluid mt-5">
    <div class="row text-center">
        <h1><b>Become A Member</b></h1>
    </div>
    <form action="#" method="post" class="form-horizontal">


        <!-- Print user membership selection -->
        <check if="{{ isset(@SESSION['package']) }}">
            <div class="row mt-3">
                <div style="font-family: Baskerville" class="col-12 h4 text-center col-md-4 mx-auto">
                    You have chosen the <u>{{ ucfirst(@SESSION['package']) }}</u> package
                </div>
            </div>
        </check>
</div> <!-- end container -->

<!--- container for Join membership form  --->
<div class="container-fluid mx-auto w-50 mt-4 mb-4">
    <div class="row <check if="{{ !isset(@SESSION['package']) }}"> mt-5</check>">
    <!-- First Name field -->
    <div class="col-12 col-md-6 mx-auto">
        <label class="control-label text-center me-3 mt-2 fw-bold" for="first">First name</label>
        <input type="text" class="form-control" name="first" id="first"
        <check if="{{ isset(@SESSION['first']) }}">
            value="{{ @SESSION['first'] }}"
        </check>>
        <check if="{{ isset(@errors['first']) }}">
            <span class="danger">{{ @errors['first'] }}</span>
        </check>
    </div>
    <!-- Last Name field -->
    <div class="col-12 col-md-6 mx-auto">
        <label class="control-label text-center me-4 mt-2  fw-bold" for="last">Last name</label>
        <input type="text" class="form-control" name="last" id="last"
        <check if="{{ isset(@SESSION['last']) }}">
            value="{{ @SESSION['last'] }}"
        </check>>
        <check if="{{ isset(@errors['last']) }}">
            <span class="danger">{{ @errors['last'] }}</span>
        </check>
    </div>
</div>
    <div class="row">
        <!-- Email field -->
        <div class="col-12 col-md-12 mx-auto">
            <label class="control-label text-center me-4 mt-2  fw-bold" for="last">Email</label>
            <input type="email" class="form-control" name="email" id="email"
            <check if="{{ isset(@SESSION['email']) }}">
                value="{{ @SESSION['email'] }}"
            </check>>
            <check if="{{ isset(@errors['email']) }}">
                <span class="danger">{{ @errors['email'] }}</span>
            </check>
        </div>
    </div>
    <div class="row">
        <!-- Phone field -->
        <div class="col-12 col-md-6 mx-auto">
            <label class="control-label text-center me-4 mt-2  fw-bold" for="last">Phone</label>
            <input type="text" class="form-control" name="phone" id="phone"
            <check if="{{ isset(@SESSION['phone']) }}">
                value="{{ @SESSION['phone'] }}"
            </check>>
            <check if="{{ isset(@errors['phone']) }}">
                <span class="danger">{{ @errors['phone'] }}</span>
            </check>
        </div>
        <!-- Birthdate field -->
        <!-- TODO: NEED TO ADD ERROR MESSAGE FOR BIRTHDATE FIELD -->
        <div class="col-12 col-md-6 mx-auto">
            <label class="control-label text-center me-4 mt-2  fw-bold" for="last">Birth Date</label>
            <input type="date" class="form-control" name="bday" id="bday"
            <check if="{{ isset(@SESSION['bday']) }}">
                value="{{ @SESSION['bday'] }}"
            </check>>
        </div>
    </div>
    <div class="row">
        <!-- Username field -->
        <div class="col-12 col-md-12 mx-auto">
            <label class="control-label text-center me-4 mt-2  fw-bold" for="first">Username</label>
            <input type="text" class="form-control" name="username" id="username"
            <check if="{{ isset(@SESSION['username']) }}">
                value="{{ @SESSION['username'] }}"
            </check>>
            <check if="{{ isset(@errors['username']) }}">
                <span class="danger">{{ @errors['username'] }}</span>
            </check>
        </div>
    </div>
    <div class="row">
        <!-- Password field -->
        <div class="col-12 col-md-6 mx-auto">
            <label class="control-label text-center me-4 mt-2 fw-bold" for="password">Password</label>
            <input type="password" class="form-control" name="password" id="password">
            <check if="{{ isset(@errors['password']) }}">
                <span class="danger">{{ @errors['password'] }}</span>
            </check>
        </div>
        <div class="col-12 col-md-6 mx-auto">
            <label class="control-label text-center me-4 mt-2 fw-bold" for="password2">Confirm Password</label>
            <input type="password" class="form-control" name="password2" id="password2">
        </div>
    </div>
    <div class="container text-center my-5">
        <button type="submit" class="col-12 my-button btn btn-primary btn-lg rounded-pill">JOIN NOW</button>
    </div>
    </form>

</div>
</div>

<!-- footer -->
<include href="views/footer.html"></include>

</body>
</html>