<!--
    Team: Step 3
    Authors: Paul Woods, Stewart Lovell, and Jasmine David
    SDEV 328: Final Project v1
    File: home.html

    Description: Globo Gym Website Home page that describes gym amenities.
-->


<include href="views/header.html" with="title='Login - Globo Gym'"></include>
<!-- change 'one' above to 'two', etc. for different pages -->
<div class="container-fluid">
<form action="#" method="post" class="form-horizontal">

    <div class="row mt-5">
        <div class="col-12 col-md-4 mx-auto">
            <label class="control-label text-center me-4 mt-2  fw-bold" for="username">Username</label>
            <input type="text" class="form-control" name="username" id="username">
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-12 col-md-4 mx-auto">
            <label class="control-label text-center me-4 mt-2 fw-bold" for="username">Password</label>
            <input type="password" class="form-control" name="username" id="password">
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-4 mx-auto mt-3">
            <button class="btn btn-primary" type="submit">Login</button>
        </div>
    </div>


</form>
</div>

<!-- footer -->
<include href="views/footer.html"></include>

</body>
</html>