<!--
    Team: Step 3
    Authors: Paul Woods, Stewart Lovell, and Jasmine David
    SDEV 328: Final Project
    File: memberships.html

    Description: Globo Gym Website Memberships page that lists gym membership tiers, fitness
    classes offered at our gym, and allows guest to select which tier to sign up for - leads to sign up (join) page.
-->


<include href="views/header.html" with="title='Globo Gym', three='current'"></include>
<!-- change 'one' above to 'two', etc. for different pages -->


<!--- Membership options -->
<div class="container my-5 w-50">
    <h1 class="text-center mb-2 col-12"><b>Membership Options</b></h1>
</div>
<form action="#" method="post">
    <div class="container text-center w-75 px-5">
        <div class="row gx-5">
            <div class="col pb-3 pb-md-0">
                <!--- Bronze -->
                <div class="p-3 py-4 border shadow border-dark rounded-5 h-100 position-relative">
                    <h4 >B r o n z e</h4>
                    <span class="h4">$70</span> / month
                    <p class="mt-2">Grants access to the following:</p>
                    <ul class="mt-2 mx-4">
                        <li>All weightlifting equipment</li>
                        <li>All cardio equipment</li>
                        <li>Members only locker room</li>
                    </ul>
                    <p class="pb-4">The perfect starting point for anyone new</p>
                    <input type="radio" class="btn-check " name="membership_level" id="bronze" value="bronze">
                    <label class="btn btn-outline-dark rounded-pill position-absolute bottom-0 translate-middle-x mb-3" for="bronze">SELECT</label>
                </div>
            </div>
            <div class="col pb-3 pb-md-0">
                <!--- Silver -->
                <div class="p-3 py-4 border shadow border-dark rounded-5 h-100 position-relative">
                    <h4>S i l v e r</h4>
                    <span class='h4'>$90 </span> / month
                    <p class="mt-2">Grants access to the following:</p>
                    <ul class="mt-2 mx-4">
                        <li>Up to 25% off member store items</li>
                        <li>Silver exclusive spa</li>
                        <li>One free class of your choice / week</li>
                    </ul>
                    <p class="pb-4">For anyone who takes weight-lifting seriously</p>
                    <input type="radio" class="btn-check" name="membership_level" id="silver" value="silver">
                    <label class="btn btn-outline-dark rounded-pill position-absolute bottom-0 translate-middle-x mb-3" for="silver">SELECT</label>
                </div>
            </div>
            <div class="col pb-3 pb-md-0">
                <!--- Gold -->
                <div class="p-3 py-4 border shadow border-dark rounded-5 h-100 position-relative">
                    <h4>G o l d</h4>
                    <span class='h4'>$120 </span> / month
                    <p class="mt-2">Grants access to the following:</p>
                    <ul class="mt-2 mx-4">
                        <li>Up to 50% off member store items</li>
                        <li>One massage / week</li>
                        <li>Additional free class / week</li>
                    </ul>
                    <p class="pb-4">For the true gym rat</p>
                    <input type="radio" class="btn-check" name="membership_level" id="gold" value="gold">
                    <label class="btn btn-outline-dark rounded-pill position-absolute bottom-0 translate-middle-x mb-3" for="gold">SELECT</label>
                </div>
            </div> <!-- col -->
        </div> <!-- row -->
    </div>

    <!-- JOIN NOW BUTTON -->
    <div class="container text-center mt-5">
        <button type="submit" class="col-12 my-button btn btn-primary btn-lg rounded-pill"><b>JOIN NOW</b></button>
    </div>
</form>

<!-- Fitness Classes offered at globo gym -->
<div class="container text-center mx-auto mb-5">
    <div class="col pb-3 mx-auto pb-md-0">
        <hr class="w-75 mx-auto my-5">
        <h4 class="mb-1 mb-md-4"><b>Classes Offered</b></h4>
        <!-- images of classes -->
        <div class="row mt-4 mb-3 mx-auto w-75 px-1 px-md-5 text-center">
            <img class="img-fluid img-classes col-12 col-md-4 px-1 py-2 py-md-0 mx-auto" src="images/kickboxing.jpeg" alt="kickboxing class">
            <img class="img-fluid img-classes col-12 col-md-4 px-1 py-2 py-md-0 mx-auto" src="images/yoga.jpeg" alt="yoga class">
            <img class="img-fluid img-classes col-12 col-md-4 px-1 py-2 py-md-0 mx-auto" src="images/cycling.jpeg" alt="cycling class">
        </div>
        <!-- list of classes -->
        <div class="row mt-4 mb-3 mx-auto w-75 text-center">
            <p class="col-4">Yoga</p>
            <p class="col-4">Barre</p>
            <p class="col-4">Cycling</p>
        </div>
        <div class="row my-3 mx-auto w-75 text-center">
            <p class="col-4">Pilates</p>
            <p class="col-4">Boxing</p>
            <p class="col-4">Dance</p>
        </div>
        <div class="row my-3 mx-auto w-75 text-center">
            <p class="col-4">Aerobics</p>
            <p class="col-4">Strength</p>
            <p class="col-4">Cardio</p>
        </div>
    </div>

</div>

<!-- footer -->
<include href="views/footer.html"></include>


</body>
</html>