<include href="views/header.html" with="title='Globo Gym', three='current'"></include>
<!-- change 'one' above to 'two', etc. for different pages -->


<!--- Membership options --->
<div class="container my-5 w-50">
    <h1 class="text-center mb-3 col-12">Membership Options</h1>
</div>
<div class="container text-center w-75 px-5">
    <div class="row gx-5">
        <div class="col">
            <!--- Bronze --->
            <div class="p-3 py-4 border border-dark rounded-5">
                <h4>B r o n z e</h4>
                <span class="h5">$70 </span> / month
                <p>Grants access to the following:</p>
                <ul class="mt-2 mx-4">
                    <li>All weightlifting equipment</li>
                    <li>All cardio equipment</li>
                    <li>Members only locker room</li>
                </ul>
                <p>The perfect starting point for anyone new</p>
                <button class="my-button btn btn-primary px-4 rounded-pill" value="bronze">SELECT</button>
            </div>
        </div>
        <div class="col">
            <!--- Silver --->
            <div class="p-3 py-4 border border-dark rounded-5">
                <h4>S i l v e r</h4>
                <span class='h5'>$90 </span> / month
                <p>Grants access to the following:</p>
                <ul class="mt-2 mx-4">
                    <li>Up to 25% off member store items</li>
                    <li>Silver exclusive spa</li>
                    <li>One free class of your choice / week</li>
                </ul>
                <p>For anyone who takes weight-lifting seriously</p>
                <button class="my-button btn btn-primary px-4 rounded-pill" value="silver">SELECT</button>

            </div>
        </div>
        <div class="col">
            <!--- Gold --->
            <div class="p-3 py-4 border border-dark rounded-5">
                <h4>G o l d</h4>
                <span class='h5'>$120 </span> / month
                <p>Grants access to the following:</p>
                <ul class="mt-2 mx-4">
                    <li>Up to 50% off member store items</li>
                    <li>One massage / week</li>
                    <li>Additional free class / week</li>
                </ul>
                <p>For the true gym rat</p>
                <button class="my-button btn btn-primary px-4 rounded-pill" value="gold">SELECT</button>
            </div>

        </div>
    </div>
</div>

<!-- JOIN NOW BUTTON -->
<div class="container text-center my-5">
    <a class="col-12 my-button btn btn-primary btn-lg rounded-pill" href="#">JOIN NOW</a>
</div>






</body>
</html>