/*
 * Team: Step 3
 * Authors: Paul Woods, Jasmine David, Stewart Lovell
 * SDEV 328: Final Project v1
 * File: styles.css
 *
 * Description: css styles for Globo Gym website - main pages.
 */

/* General Styles */
/* font for content on pages - courier new */
body p, span, .col div, .col ul, .col li, table, .chosen {
    font-family: "Courier New", monospace;
}

/* font for the headers and labels on pages - native font stack */
h1, h2, h3, h4, h5, label {
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto,
    arial, sans-serif;

}

a.disabled {
    color: rebeccapurple !important;
    pointer-events: none;

}

div.gray {
    background-color: #F9F9F9;
}

div.darker_gray {
    background-color: #CBCBCB;
}

img.full {
    border-radius: 35px;
    margin-left: auto;
    margin-right: auto;
    max-height: 1024px;
    width: auto;

}

.btn-primary{
    background-color: rebeccapurple;
    border-color: rebeccapurple;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue,
    helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    max-width: 7em;

}

/* prevents button from turning blue when active / clicked on */
.my-button:not(:disabled):not(:disabled):active,.admin-buttons:not(:disabled):not(:disabled):active,
.account-buttons:not(:disabled):not(:disabled):active{
    background-color: rebeccapurple;
    border-color: rebeccapurple;
}

.btn-primary:hover {
    background-color: white;
    border-color: rebeccapurple;
    color: rebeccapurple;
}

/* Nav Bar Styles */
.navbar-nav > li.right-border {
    border-right: 1px solid white;
}

.nav-link {
    color:white;
    font-size: 1.5em;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    font-weight: bold;
}

.nav-link:hover {
    color: rebeccapurple;
}

.current {
    color: rebeccapurple;
}

.navbar-brand {
    max-height: 100px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Footer styles */
.footer h5 {
    font-family: "Arial Black", serif;
}
.footer, .footer a{
    background-color: #E3E3E3;
    text-decoration: none;
}


/* Home Page Styles */
/* desktop */
@media screen and (min-width: 600px) {
    /* image overlay and button */
    #overlay p {
        border: none;
        border-radius: 5px;
        color: white;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-shadow: 1px 1px black;
        font-weight: bold;
        padding: 12px 24px;
        text-align: center;
        font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue,
        helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    }

    #overlay .btn {
        position: absolute;
        top: 56%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-color: rebeccapurple;
        color: white;
        border: none;
        max-width: 10em;
        font-weight: bold;
        letter-spacing: .05em;
        font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue,
        helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;

        box-shadow: 0px 0px 20px 0 rgb(0, 0, 0), 0 0px 20px 0 rgb(0, 0, 0);
    }

    #overlay .btn:hover {
        background-color: white;
        border-color: rebeccapurple;
        color: rebeccapurple;
    }

    .form {
        width: 50%;
    }
}

/* mobile responsive */
@media screen and (max-width: 600px) {
    /* image overlay and button */
    #overlay {
        position: relative;
    }
    #overlay p {
        border: none;
        border-radius: 5px;
        color: white;
        position: absolute;
        display: none;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-shadow: 1px 1px black;
        font-weight: bold;
        text-align: center;
        font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue,
        helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    }

    #overlay .btn {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 120%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-color: rebeccapurple;
        color: white;
        border: none;
        max-width: 10em;
        font-weight: bold;
        letter-spacing: .05em;
        font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue,
        helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;

        box-shadow: 0px 0px 20px 0 rgb(0, 0, 0), 0 0px 20px 0 rgb(0, 0, 0);
    }

    #overlay .btn:hover {
        background-color: white;
        border-color: rebeccapurple;
        color: rebeccapurple;
    }

    /* home page video */
    .video {
        width: 95%;
        aspect-ratio: 16/9;
    }

    .form {
        width: 90%;
    }

}

/* fixed height for carousel images */
.carousel-item {
    height: 370px;
    overflow: hidden;
    width: 100%;
}
.carousel-item img {
    width: 100%;
}

/* Memberships Page Styles */
/* Span in Memberships page - emphasizes $ cost of gym membership */
span {
    color: rebeccapurple;
    font-weight: 900;
    /*font-size: 1.5em;*/
    font-family: Georgia, sans-serif;
}



/* Admin Dashboard Styles */
/* admin menu*/
.menu h5 {
    font-family: Courier New, monospace;
}

.menu h6 {
    letter-spacing: .1rem;
}

/* new members button */
#b4 {
    max-width: 8em;
}

/* admin dashboard chart */
#globogym_chart{
    height:400px;
    width:100%;
    max-width:700px
}

.no_underline {
    color: black;
    font-family: "Courier New", monospace;
    text-decoration: none !important;

}

.no_underline:hover, a:hover {
    color: dimgrey;
}

.active {
    color: rebeccapurple;
    font-weight: bold;
}

table a {
    color: rebeccapurple;
}
