/*
 * Team: Step 3
 * Authors: Paul Woods, Jasmine David, Stewart Lovell
 * SDEV 328: Final Project v1
 * File: styles.css
 *
 * Description: css styles for Globo Gym website - account pages
 */

/* General styles */
/* prevents button from turning blue when active / clicked on */
.my-button:not(:disabled):not(:disabled):active,.admin-buttons:not(:disabled):not(:disabled):active,
.account-buttons:not(:disabled):not(:disabled):active{
    background-color: rebeccapurple;
    border-color: rebeccapurple;
}

.btn-primary:hover {
    background-color: white;
    border-color: rebeccapurple;
    color: rebeccapurple;
}

/* Nav Bar styles */
a.disabled {
    pointer-events: none;
    color: rebeccapurple !important;
}

div.gray {
    background-color: #F9F9F9;
}

div.darker_gray {
    background-color: #CBCBCB;
}

img.full {
    border-radius: 35px;
    max-height: 1024px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.navbar-nav > li.right-border {
    border-right: 1px solid white;
}

.nav-link {
    color:white;
    font-size: 1.5em;
    font-weight: bold;
}

.nav-link:hover {
    color: rebeccapurple;
}

.current {
    color: rebeccapurple;
}

.navbar-brand {
    max-height: 100px;
}

.btn-primary{
    background-color: rebeccapurple;
    border-color: rebeccapurple;
    max-width: 7em;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Footer styles */
.footer h5 {
    font-family: "Arial Black", serif;
}

.footer, .footer a{
    background-color: #E3E3E3;
    text-decoration: none;
    font-family: "Courier New", monospace;
}



/* Account Page styles */
/* remove margin bottom and top for p */
.account {
    margin-top: 0px;
    margin-bottom: 0px;
}

/* change password and change membership plan styles */
.change {
    color: rebeccapurple;
    text-decoration: underline;
}

.change:hover{
    color: dimgrey;
}

/* Membership level and Join Date header font */
.account-details {
    font-family: Courier New, monospace;
}

/* Profile and Account details header letter spacing */
.profile-header{
    letter-spacing: .1rem;
}

#ajaxSuccess {
    color: limegreen;
    display: none;
}

#ajaxError {
    color: red;
    display: none;
}

/* desktop responsive styles - account page */
@media screen and (min-width: 600px) {
    /* remove horizontal line with desktop */
    .hr {
        display: none;
    }
}

/* mobile responsive styles - account page */
@media screen and (max-width: 600px) {
    /* remove vertical line with mobile */
    .vr {
        display: none;
    }
    /* center text with mobile */
    .account {
        text-align: center;
        width: 100%;
    }
}









